{
    "extends": [
        "eslint:recommended",
        "plugin:import/recommended",
        "plugin:@typescript-eslint/recommended",
        "eslint-config-prettier",
    ],
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [["~", "./src"]],
                "extensions": [".ts", ".json"],
            },
            "node": {
                "paths": ["src"],
                "extensions": [".ts"],
            },
        },
    },
    "rules": {
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": true,
                "argsIgnorePattern": "^_",
            },
        ],
    },
}
